version: '3.8'

services:
  # Serviço do Banco de Dados PostgreSQL
  postgres:
    image: postgres:15-alpine
    container_name: eloneurokids-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: eloneurokids_db
    volumes:
      # Persistência de dados (para não perder quando reiniciar o PC)
      - pg_data:/var/lib/postgresql/data

  # Interface visual para ver o banco (Opcional, mas ajuda muito)
  pgadmin:
    image: dpage/pgadmin4
    container_name: eloneurokids-pgadmin
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    depends_on:
      - postgres

volumes:
  pg_data: